* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #311d3f;
  color: #e23e57;
}

header {
  height: 5vh;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

h2 {
  margin: 20px 0;
}

p {
  margin: 5px 0;
}

input {
  margin: 10px 0;
  font-size: 24px;
}

button {
  font-size: 22px;
}

.container {
  height: 95vh;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start;
}

.studente {
  background-color: #e23e57;
  color: #311d3f;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-bar {
  height: 95vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
